/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffc400; /* Bootstrap primary color */
  color: white;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 20px;
}

.navbar-logo img {
  margin-left: 10px;
  height: 40px; /* Adjust the height of the logo */
}

/* Search Bar */
.navbar-search-container {
  position: relative;
  margin-left: 150px;
}

.navbar-search-input {
  height: 35px;
  width: 800px;
  border-radius: 4px;
  border: none;
  padding-right: 35px;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

/* Navbar Links */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links a,
.logout-button,
.students-button {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.logout-button:hover,
.students-button:hover {
  color: #067eff;
}

/* Sidebar */
.sidebar,
.student-sidebar {
  position: fixed;
  top: 60px;
  right: -300px; /* Change left to right */
  width: 300px;
  height: calc(100% - 60px);
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  transition: right 0.3s ease; /* Change left to right */
}

.sidebar.open,
.student-sidebar.open {
  right: 0; /* Change left to right */
}

.sidebar.closed,
.student-sidebar.closed {
  right: -300px; /* Change left to right */
}

.sidebar h2,
.student-sidebar h2 {
  margin: 0 0 10px;
}

.sidebar ul,
.student-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.project-button,
.student-button {
  width: 100%;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
}

.project-button:hover,
.student-button:hover {
  background-color: #067eff;
}

/* Sidebar toggle button */
.sidebar-toggle {
  background: transparent;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.students-button {
  margin-left: 20px; /* Space between the logout button */
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Sidebar for Students */
.student-button {
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-top: 5px;
}

.student-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}
